{
  "reporter": ["text", "lcovonly", "html"],
  "check-coverage": true,
  "lines": 95,
  "functions": 95,
  "branches": 93,
  "statements": 95,
  "include": ["dist/**"],
  "exclude": ["coverage/**", "tests/**", "benchmark/**", "node_modules/**"],
  "all": true,
  "skip-full": false,
  "source-map": true
}
