{
  "jsc": {
    "baseUrl": "./src",
    "paths": {},
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "transform": {
      "useDefineForClassFields": true
    },
    "externalHelpers": false,
    "keepClassNames": false,
    "minify": {
      "compress": {
        "unused": true,
        "dead_code": true
      },
      "mangle": true
    }
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true
  },
  "minify": true,
  "sourceMaps": true
}
