{
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "transform": {},
    "externalHelpers": false,
    "keepClassNames": false,
    "minify": {
      "compress": {
        "unused": true,
        "dead_code": true
      },
      "mangle": true
    }
  },
  "module": {
    "type": "commonjs"
  },
  "minify": true,
  "sourceMaps": true
}
