language: node_js
node_js:
- stable
- '12'
- '11'
- '10'
- '8'

before_install:
  - npm install -g istanbul coveralls codacy-coverage

before_script:
  - export CODACY_PROJECT_TOKEN=becf7b26a5d84fceab4c94d0bb2bf2ec

script: "istanbul cover ./node_modules/tape/bin/tape --report lcovonly -- tests/**/*.js && cat ./coverage/lcov.info | coveralls && cat ./coverage/lcov.info | codacy-coverage && rm -rf ./coverage"

deploy:
  provider: npm
  email: leodutra.br@gmail.com
  api_key:
    secure: HneFWS9YKoDkLyS5m2c8KMRnjGes1zIi3VnWX5rUuFVP/W+wybcLuyAtPbNzVhz7i7GbcKbIPLSP3lGaD4zBXg8Ds4WINBH09N1EKOrrtzt+A5SNaVHCm02rB8m992gNg0s19gVJD5/6MgJQ4+CJJTIKG3VNok3voZ8mwhZc5B6FKhlm4cU1VYJkm3ZiBeBUDxUlF77uaLIRlWjlibEwTf6Uz9rHhaDd0InlLoWwLOk136vU6QVDyh/84FhDUxytyLwi0WDnhlWQjFrsGB6oZA5MerG/udPMgKTG+pdhBRTt8QtkQqnDTmMPyQyBIe/TxOysGGKP3h7j/gz7yMhkDBCzI4xOcV25ch31kti9LjZPU0KQhJ0E2qjgOMxB1VrhxmzXAVuQKAgzsfeAKoz4xjM7BSBw4nmhdxZTGZWWDldKRcA4tu3EI30nhYaxxubim9CpPRAYK6G1bt3704Lx0XAMf5me7nxAxfzKgaD2CVKdOe3WNjnO7Nb9kSH2EYXP0Tsz8zFsqD4TRBoLs6GZpiD/tlNmoiPZ0/Bqaoh8NXvnjeOaVv2SZaZZ2Ndc0SrZS/8j6tHwhlddSAoi/IAWn5s72HUveGNKdDOxccEeeWm6s1cpxby0slTCjS5i7IyXcxlYV5k+iHmi0apf4dnc4faUgk6YM5aCvWT0yKSUI90=
  on:
    tags: true
    repo: leodutra/simpleflakes
